# ignore root level go files
/dev/dev.go

# ignore IDE files
/.vscode

# ignore dev assets
/.dev

# ignore generated assets
charts/crds/generated
charts/crds/LICENSE
charts/operator/generated
charts/operator/LICENSE
internal/embed/**/*
!internal/embed/empty.txt